{% extends 'base.html' %} 
{% load static %} {% block basetitle %} About 
{% endblock %} {% block content %}

<body style = "background-color: ecddc8">
  <div class="w3-container">
      <div class="w3-container">
        <h1 style = "text-align: left ;padding-left:10%; color:black; font-family: Georgia, 'Times New Roman', Times, serif; ">What is the Kidney Help Program?</h1>
        <!-- form will go here later-->
      </div>
      <div class="w-3 container" style="padding-right: 5%; padding-left: 5%;">
        <h3 style = "text-align: right; padding-right: 30%; color:black; font-family: Georgia, 'Times New Roman', Times, serif;text-decoration: underline; ">About</h3>
        <img src="" alt="" width="200" height="200" style =   "float: left;    
        margin: 0 0 0 15px;"/>
        <p style = "text-align: right; color:black; font-family: Georgia, 'Times New Roman', Times, serif; ">
          This is the about and we don't pout. If you think you can diss me then you must be a trout.
          wertyuiolkjhgfdsdxcfvg bnm,l;pkoijhugyftrdeszdxcf vbnmkl,;pkoijhugyftrdes
          lkjihujnkmljihujnkmijhnkklslfjgfwertyuiopoiuygtfdsasdfgbnmkjhgfds
          bnmlknjbhgvfcdxcfgvhbjnkml,;koijhug</p>
      </div>
      <div class="w-3 container" style="padding-top: 15%;">
        <h3>Commonly Asked Questions:</h3>
        <p><br>  Can I cure my Kidneys? <li> Yes of course you can</li>
        <br>  Can I cure my Kidneys? <li> You probably can</li>
        <br>  Can I cure my Kidneys? <li> Of course you can</li>
        <br>  Can I cure my Kidneys? <li> Unfortunately no</li>
       <br>  Can I cure my Kidneys? <li> Yes by doing xyz</li>

        </p>
      </div>
    </div>
  </body>
{% endblock %}