{% extends 'base.html' %} 
{% load static %} {% block basetitle %} About 
{% endblock %} {% block content %}
<div class="row mt-3 pt-3">
  <div class="col-md-4">
    <h1>What is the Kidney Help Program?</h1>
    <!-- form will go here later-->
  </div>
  <div class="col-md-8">
    <h3>About</h3>
    <p>This is the about and we don't pout. If you think you can diss me then you must be a trout.</p>
  </div>
  <div class="col-md-8">
    <h3>Commonly Asked Questions:</h3>
    <p>If you have a question then you've come to the right place. We are gonna take your silly question, chew it, and spit it in your face.</p>
  </div>
</div>
{% endblock %}